#contents{
	max-width: 80rem;
}

.dim-text {
	color: var(--bs-gray-600);
	font-size: 1.4rem;
}

.bold-text {
	color: white;
	font-weight: bold;
	font-size: 1.5rem;
}

.cover {
	margin: 1rem;
	transition: 0.2s;
	cursor: pointer;
}
.cover:hover {
	transform: scaleX(1.5) scaleY(1.5);
}

.book-cover {
	max-width: 20rem;
	max-height: 25rem;
}

.book-title{
	text-align: center;
}
