#dataSpread {
  display: flex;
  vertical-align: middle;
  text-align: center;
  margin: 20px;
}

#subjectTable {
  margin: auto;
}

td {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

.subject {
  min-width: 200px;
  min-height: 200px;
  width: 200px;
  height: 200px;
  border: 1px solid #161616;
  border-radius: 10px;

  display: table-cell;
  vertical-align: middle;
  transition: 0.3s;
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  color: rgba(0, 0, 0, 0);
  font-size: 10pt;
  font-weight: bold;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.subject:hover {
  border: 1px solid #363636;
  color: lightgray;
  background-size: 150px;
  font-size: 20pt;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.7);
  background-color: rgba(40, 40, 40);
}

#minecraft {
  background-image: url("../img/minecraft-watermark.png");
}

#minecraft:hover {
  background-image: url("../img/minecraft.png");
}
