#contents{
	max-width: 65rem;
	margin-bottom: 10rem;
}

.dim-text {
	color: var(--bs-gray-600);
	font-size: 1.4rem;
}

.bold-text {
	color: white;
	font-weight: bold;
	font-size: 1.5rem;
}

#profile-image{
	max-width: 16rem;
	padding: 1rem;
	border: 2px solid var(--bs-gray-900);
	border-radius: 15rem;
	margin-bottom: 1.5rem;
	box-shadow: 0px 0px 10px black;
}

.category {
	margin-bottom: 2rem;
	padding: 1rem;
	background-color: var(--bs-gray-900);
	border-radius: 1rem;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 10px 10px black;
}

.badge-box{
	display: flex;
	align-items: flex-start;
	justify-content: center;
}
.badge-area{
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding: 1rem;
}
.badge-title{
	font-size: 1.2rem;
	font-weight: bold;
	color: var(--bs-gray-600);
	margin: 0.6rem 0.1rem;
	margin-top: 4rem;
	display: flex;
    align-items: center;
}
.hover-text{
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	display: flex;
	position: absolute;
	color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0.0001);
	padding: 1rem;
	border-radius: 15rem;
	width: 256px;
	height: 256px;
	margin-bottom: 1.5rem;
	justify-content: center;
	align-items: center;
	transition: 0.2s;
}

.hover-text:hover{
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
}
.badge {
	margin: 1rem;
	transition: 0.2s;
	cursor: pointer;
}
.badge:hover {
	transform: scaleX(1.5) scaleY(1.5);
}

.badge-logo {
	max-width: 5rem;
	max-height: 5rem;
	margin: 0.5rem;
}

.badge-name {
	font-size: 0.9rem;
}

.modal-panel {
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.key {
	text-align: center;
}

.value {
	background-color: var(--bs-gray-800);
	padding: 0.7rem 1rem;
	border-radius: 0.6rem;
}