#contents{
	max-width: 50rem;
}

.dim-text {
	color: var(--bs-gray-600);
	font-size: 1.4rem;
}

.bold-text {
	color: white;
	font-weight: bold;
	font-size: 1.5rem;
}

#profile-image{
	max-width: 16rem;
	padding: 1rem;
    border: 2px solid var(--bs-gray-900);
    border-radius: 15rem;
	margin-bottom: 1.5rem;
}

.category {
	margin-top: 2rem;
	background-color: var(--bs-gray-900);
    border-radius: 1rem;
}

.mb-1{
	margin-bottom: 1rem;
}