.contents{
	max-width: 80rem;
	text-align: center;
}

.tab{
    padding: 1rem;
	transition: 0.2s;
	border-bottom: 2px solid var(--bs-gray-800);
	cursor: pointer;
}
.tab:hover{
	border-bottom: 2px solid var(--bs-primary);
}
.tab-selected{
	border-bottom: 2px solid var(--bs-primary);
}