/**
 * Created : ‎2022‎.02.17 03:05:16
 * Author : GoldBigDragon (김태룡)
 * Contact : dnwndugod642@naver.com
 * Github : http://goldbigdragon.github.io
 * 
 * Purpose : 사용자 목록 메뉴에 적용되는 스타일 시트
 **/

#userList{
	border-spacing: 0px;
	vertical-align: top;
	text-align: center;
	height: 0;
}

#userList td{
	padding:0.5rem;
	border-bottom: 1px solid #DDD;
}

#userList tr:hover{
	background-color: #EEE;
}