/**
 * Created : ‎2022‎.02.17 10:03:54
 * Author : GoldBigDragon (김태룡)
 * Contact : dnwndugod642@naver.com
 * Github : http://goldbigdragon.github.io
 * 
 * Purpose : 사용자 정보 메뉴에 적용되는 스타일 시트
 **/

.subjectTitle{
	text-align: left;
	font-weight: bold;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-top: 1rem;
    border-top: 2px solid #cfcfcf;
	font-size: 1.15rem;
}
.settingTable{
	width: 80%;
	border-spacing: 1rem;
}
.keyTd{
	vertical-align: text-top;
	width: 8rem;
	text-align:right;
}
.valueTd{
	width: 25rem;
	text-align:left;
}
.valueInput{
	width: 20rem;
	font-size: 1.1rem;
    padding-left: 0.5rem;
    border: 1px solid #AAA;
    border-radius: 0.2rem;
    color: #666;
}
button{
	background-color: white;
    border: 1px solid darkgray;
    border-radius: 0.2rem;
    font-weight: bold;
    color: dimgray;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
button:hover{
	transform: scaleX(1.2) scaleY(1.2);
	transition: 0.2s;
}

button:active{
	transform: scaleX(0.8) scaleY(0.8);
	transition: 0.2s;
	background-color: #CCC;
}