/**
 * Created : ‎2022‎.02.17 02:58:24
 * Author : GoldBigDragon (김태룡)
 * Contact : dnwndugod642@naver.com
 * Github : http://goldbigdragon.github.io
 * 
 * Purpose : 서브메뉴에 기본 적용되는 스타일 시트
 **/
body{
	background-color: #36393F;
}

#title{
	font-size:2rem;
	font-weight: bold;
	color: gray;
	border-bottom: 0.2rem solid gray;
    padding-bottom: 0.5rem;
}
#contents{
	height:100%;
	overflow:auto;
}