/**
 * Created : ‎2021‎.11.19. 22:08:53
 * Author : GoldBigDragon (김태룡)
 * Contact : dnwndugod642@naver.com
 * Github : http://goldbigdragon.github.io
 * 
 * Purpose : Basic style sheet.
 **/

@font-face {
  font-family: "Roboto" sans-serif;
  src: url(../font/Roboto-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat" sans-serif;
  src: url(../font/Montserrat-Light.ttf) format("truetype");
}

@font-face {
  font-family: "NotoSans-Black" sans-serif;
  src: url(../font/NotoSans-Black.ttf) format("truetype");
}

@font-face {
  font-family: "NotoSans-Bold" sans-serif;
  src: url(../font/NotoSans-Bold.woff) format("truetype");
}

@font-face {
  font-family: "NotoSans-Light" sans-serif;
  src: url(../font/NotoSans-Light.woff) format("truetype");
}

@font-face {
  font-family: "NotoSans-Medium" sans-serif;
  src: url(../font/NotoSans-Medium.woff) format("truetype");
}

@font-face {
  font-family: "NotoSans-Regular" sans-serif;
  src: url(../font/NotoSans-Regular.woff) format("truetype");
}

@font-face {
  font-family: "NotoSans-Thinr" sans-serif;
  src: url(../font/NotoSans-Thin.ttf) format("truetype");
}

@media (min-width: 2049px), handheld and (orientation: landscape) {
	.categoryTitle{
		height: 64px;
	}
	.titleBoard {
		margin-left: 16px;
	}
	.categoryMain{
		height: calc(100vh - 128px);
		padding: 30px;
	}
	.h1 {
		font-size: 32pt;
	}
	.h2 {
		font-size: 28pt;
	}
	.h3 {
		font-size: 25pt;
	}
	.h4 {
		font-size: 22pt;
	}
	.h5 {
		font-size: 19pt;
	}
	.h6 {
		font-size: 16pt;
	}
}

@media (max-width: 2048px), handheld and (orientation: portrait) {
	.categoryTitle{
		height: 56px;
	}
	.titleBoard {
		margin-left: 14px;
	}
	.categoryMain{
		height: calc(100vh - 100px);
		padding: 20px;
	}
	.h1 {
		font-size: 28pt;
	}
	.h2 {
		font-size: 24pt;
	}
	.h3 {
		font-size: 21pt;
	}
	.h4 {
		font-size: 18pt;
	}
	.h5 {
		font-size: 15pt;
	}
	.h6 {
		font-size: 12pt;
	}
}

@media (max-width: 1024px), handheld and (orientation: portrait) {
	.categoryTitle{
		height: 48px;
	}
	.titleBoard {
		margin-left: 12px;
	}
	.categoryMain{
		height: calc(100vh - 82px);
		padding: 15px;
	}
	.h1 {
		font-size: 24pt;
	}
	.h2 {
		font-size: 21pt;
	}
	.h3 {
		font-size: 18pt;
	}
	.h4 {
		font-size: 15pt;
	}
	.h5 {
		font-size: 12pt;
	}
	.h6 {
		font-size: 9pt;
	}
}

@media (max-width: 850px) {
	.categoryTitle{
		height: 40px;
	}
	.titleBoard {
		margin-left: 10px;
	}
	.categoryMain{
		height: calc(100vh - 64px);
		padding: 10px;
	}
	.h1 {
		font-size: 20pt;
	}
	.h2 {
		font-size: 17.5pt;
	}
	.h3 {
		font-size: 15pt;
	}
	.h4 {
		font-size: 12.5pt;
	}
	.h5 {
		font-size: 10pt;
	}
	.h6 {
		font-size: 7.5pt;
	}
}

@media (max-width: 425px) {
	.categoryTitle{
		height: 36px;
	}
	.titleBoard {
		margin-left: 4.5px;
	}
	.categoryMain{
		height: calc(100vh - 58px);
		padding: 8px;
	}
	.h1 {
		font-size: 18pt;
	}
	.h2 {
		font-size: 16pt;
	}
	.h3 {
		font-size: 14pt;
	}
	.h4 {
		font-size: 12pt;
	}
	.h5 {
		font-size: 10pt;
	}
	.h6 {
		font-size: 8pt;
	}
}

@media (max-width: 375px) {
	.categoryTitle{
		height: 34px;
	}
	.titleBoard {
		margin-left: 4.25px;
	}
	.categoryMain{
		height: calc(100vh - 52px);
		padding: 7px;
	}
	.h1 {
		font-size: 17pt;
	}
	.h2 {
		font-size: 15pt;
	}
	.h3 {
		font-size: 13pt;
	}
	.h4 {
		font-size: 11pt;
	}
	.h5 {
		font-size: 9pt;
	}
	.h6 {
		font-size: 7pt;
	}
}

@media (max-width: 320px) {
	.categoryTitle{
		height: 32px;
	}
	.titleBoard {
		margin-left: 4px;
	}
	.categoryMain{
		height: calc(100vh - 46px);
		padding: 5px;
	}
	.h1 {
		font-size: 16pt;
	}
	.h2 {
		font-size: 14pt;
	}
	.h3 {
		font-size: 12pt;
	}
	.h4 {
		font-size: 10pt;
	}
	.h5 {
		font-size: 8pt;
	}
	.h6 {
		font-size: 6pt;
	}
}
.categoryTitle{
    width: 100%;
}
.categoryMain{
	overflow: auto;
}

.tooltipContainer {
  position: relative;
  display: inline-block;
}

.tooltipContainer .tooltip {
  visibility: hidden;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
}

.tooltipContainer:hover .tooltip {
  visibility: visible;
}


body {
  margin: 0px;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

td, tr {
	text-align: -webkit-center;
}
