/**
 * Created : ‎2021‎.11.19. 22:08:53
 * Author : GoldBigDragon (김태룡)
 * Contact : dnwndugod642@naver.com
 * Github : http://goldbigdragon.github.io
 * 
 * Purpose : Basic style sheet.
 **/

@font-face {
  font-family: "Roboto" sans-serif;
  src: url(../font/Roboto-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat" sans-serif;
  src: url(../font/Montserrat-Light.ttf) format("truetype");
}

@font-face {
  font-family: "NotoSans-Black" sans-serif;
  src: url(../font/NotoSans-Black.ttf) format("truetype");
}

@font-face {
  font-family: "NotoSans-Bold" sans-serif;
  src: url(../font/NotoSans-Bold.woff) format("truetype");
}

@font-face {
  font-family: "NotoSans-Light" sans-serif;
  src: url(../font/NotoSans-Light.woff) format("truetype");
}

@font-face {
  font-family: "NotoSans-Medium" sans-serif;
  src: url(../font/NotoSans-Medium.woff) format("truetype");
}

@font-face {
  font-family: "NotoSans-Regular" sans-serif;
  src: url(../font/NotoSans-Regular.woff) format("truetype");
}

@font-face {
  font-family: "NotoSans-Thinr" sans-serif;
  src: url(../font/NotoSans-Thin.ttf) format("truetype");
}

.categoryTitle{
	height: 4rem;
}
.titleBoard {
	margin-left: 0.2rem;
}
.categoryMain{
	height: calc(100vh - 4rem);
	padding: 0.5rem;
}
.h1 {
	font-size: 3rem;
}
.h2 {
	font-size: 2.5rem;
}
.h3 {
	font-size: 2rem;
}
.h4 {
	font-size: 1.5rem;
}
.h5 {
	font-size: 1rem;
}
.h6 {
	font-size: 0.5rem;
}
.categoryTitle{
    width: 100%;
}
.categoryMain{
	overflow: auto;
}

.tooltipContainer {
  position: relative;
  display: inline-block;
}

.tooltipContainer .tooltip {
  visibility: hidden;
  text-align: center;
  border-radius: 0.2rem;
  padding: 0.5rem;
  position: absolute;
  z-index: 1;
}

.tooltipContainer:hover .tooltip {
  visibility: visible;
}


body {
  margin: 0px;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

td, tr {
	text-align: -webkit-center;
}

-webkit-scrollbar-thumb {
	width:0.5rem;
	height:0.5rem;
}

-webkit-scrollbar {
	width:0px;
	height:0px;
}
