/**
 * Created : ‎2021‎.11.19. 22:08:53
 * Author : GoldBigDragon (김태룡)
 * Contact : dnwndugod642@naver.com
 * Github : http://goldbigdragon.github.io
 * 
 * Purpose : Basic style sheet.
 **/

@media (min-width: 2049px), handheld and (orientation: landscape) {
	#leftMenu, #rightMenu{
		width: 150px;
	}
	.menuBar{
		-webkit-border-vertical-spacing: 65px;
	}
	.menuButton{
		width: 75px;
		height: 75px;
	}
	#contents{
		width:calc(100% - 300px);
	}
}

@media (max-width: 2048px), handheld and (orientation: portrait) {
	#leftMenu, #rightMenu{
		width: 120px;
	}
	.menuBar{
		-webkit-border-vertical-spacing: 50px;
	}
	.menuButton{
		width: 60px;
		height: 60px;
	}
	#contents{
		width:calc(100% - 240px);
	}
}

@media (max-width: 1024px), handheld and (orientation: portrait) {
	#leftMenu, #rightMenu{
		width: 100px;
	}
	.menuBar{
		-webkit-border-vertical-spacing: 40px;
	}
	.menuButton{
		width: 50px;
		height: 50px;
	}
	#contents{
		width:calc(100% - 200px);
	}
}

@media (max-width: 850px) {
	#leftMenu, #rightMenu{
		width: 70px;
	}
	.menuBar{
		-webkit-border-vertical-spacing: 25px;
	}
	.menuButton{
		width: 35px;
		height: 35px;
	}
	#contents{
		width:calc(100% - 140px);
	}
}

@media (max-width: 425px) {
	#leftMenu, #rightMenu{
		width: 50px;
	}
	.menuBar{
		-webkit-border-vertical-spacing: 15px;
	}
	.menuButton{
		width: 25px;
		height: 25px;
	}
	#contents{
		width:calc(100% - 100px);
	}
}

@media (max-width: 375px) {
	#leftMenu, #rightMenu{
		width: 40px;
	}
	.menuBar{
		-webkit-border-vertical-spacing: 10px;
	}
	.menuButton{
		width: 20px;
		height: 20px;
	}
	#contents{
		width:calc(100% - 80px);
	}
}

@media (max-width: 320px) {
	#leftMenu, #rightMenu{
		width: 30px;
	}
	.menuBar{
		-webkit-border-vertical-spacing: 5px;
	}
	.menuButton{
		width: 15px;
		height: 15px;
	}
	#contents{
		width:calc(100% - 60px);
	}
}

#home{
	background-image: url(../img/home.png);
}

#info{
	background-image: url(../img/info.png);
}

#code{
	background-image: url(../img/code.png);
}

#blog{
	background-image: url(../img/blog.png);
}

#naverCafe{
	background-image: url(../img/naver_cafe.png);
}

#github{
	background-image: url(../img/github.png);
}

#youtube{
	background-image: url(../img/youtube.png);
}
.menuBar{
	align-self: start;
}

.menuButton:hover{
	transform: scaleX(1.5) scaleY(1.5);
	transition: 0.2s;
}
.menuButton:active{
	transform: scaleX(0.6) scaleY(0.6);
	transition: 0.2s;
}
.menuButton{
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}

#languageField{
	background-image: url(../img/united_states_of_america.png);
}

#leftMenu {
	display: grid;
	height: 100vh;
}
#rightMenu{
	display: inline-grid;
	height: 100vh;
}

.hovering{
	position: absolute;
	opacity: 0.2;
}
.hovering:hover{
	opacity: 1;
	transition: 0.1s;
}
