/**
 * Created : ‎2021‎.11.19. 22:08:53
 * Author : GoldBigDragon (김태룡)
 * Contact : dnwndugod642@naver.com
 * Github : http://goldbigdragon.github.io
 * 
 * Purpose : Basic style sheet.
 **/

@media (min-width: 2049px), handheld and (orientation: landscape) {
	#leftMenu{
		display: inline-block;
		text-align: -webkit-center;
		background-color: #282828;
		opacity: 0.2;
		height:100vh;
		width: 120px;
	}
	#verticalMenuBar{
		display:none;
	}
	.menuBar{
		-webkit-border-vertical-spacing: 65px;
	}
	.menuButton{
		width: 60px;
		height: 60px;
	}
	#contentWrapper{
		width: calc(100% - 130px);
	}
}

@media (max-width: 2048px), handheld and (orientation: portrait) {
	#leftMenu{
		display: inline-block;
		text-align: -webkit-center;
		background-color: #282828;
		opacity: 0.2;
		height:100vh;
		width: 80px;
	}
	#verticalMenuBar{
		display:none;
	}
	.menuBar{
		-webkit-border-vertical-spacing: 50px;
	}
	.menuButton{
		width: 40px;
		height: 40px;
	}
	#contentWrapper{
		width: calc(100% - 90px);
	}
}

@media (max-width: 1024px), handheld and (orientation: portrait) {
	#leftMenu{
		display: inline-block;
		text-align: -webkit-center;
		background-color: #282828;
		opacity: 0.2;
		height:100vh;
		width: 70px;
	}
	#verticalMenuBar{
		display:none;
	}
	.menuBar{
		-webkit-border-vertical-spacing: 40px;
	}
	.menuButton{
		width: 35px;
		height: 35px;
	}
	#contentWrapper{
		width: calc(100% - 80px);
	}
}

@media (max-width: 850px) {
	#leftMenu{
		display: inline-block;
		text-align: -webkit-center;
		background-color: #282828;
		opacity: 0.2;
		height:100vh;
		width: 60px;
	}
	#verticalMenuBar{
		display:none;
	}
	.menuBar{
		-webkit-border-vertical-spacing: 25px;
	}
	.menuButton{
		width: 30px;
		height: 30px;
	}
	#contentWrapper{
		width: calc(100% - 70px);
	}
}

@media (max-width: 425px) {
	#leftMenu{
		display: inline-block;
		text-align: -webkit-center;
		background-color: #282828;
		opacity: 0.2;
		height:100vh;
		width: 50px;
	}
	#verticalMenuBar{
		display:none;
	}
	.menuBar{
		-webkit-border-vertical-spacing: 15px;
	}
	.menuButton{
		width: 25px;
		height: 25px;
	}
	#contentWrapper{
		width: calc(100% - 60px);
	}
}

@media (max-width: 375px) {
	#leftMenu{
		display: inline-block;
		text-align: -webkit-center;
		background-color: #282828;
		opacity: 0.2;
		height:100vh;
		width: 40px;
	}
	#verticalMenuBar{
		display:none;
	}
	.menuBar{
		-webkit-border-vertical-spacing: 10px;
	}
	.menuButton{
		width: 20px;
		height: 20px;
	}
	#contentWrapper{
		width: calc(100% - 50px);
	}
}

@media (max-width: 320px) {
	#leftMenu{
		display:block;
		text-align: left;
		background-color: #282828;
		opacity: 0.2;
		width:100%;
		height: 40px;
	}
	#horizenMenuBar{
		display:none;
	}
	#verticalMenuBar{
		display:unset;
	}
	.menuBar{
		-webkit-border-horizontal-spacing: 10px;
	}
	.menuButton{
		width: 15px;
		height: 15px;
	}
	#contentWrapper{
		width: 100%;
	}
	#contents{
		height: calc(100vh - 42px);
	}
}

#home{
	background-image: url(../img/home.png);
}

#info{
	background-image: url(../img/info.png);
}

#code{
	background-image: url(../img/code.png);
}

#blog{
	background-image: url(../img/blog.png);
}

#naverCafe{
	background-image: url(../img/naver_cafe.png);
}

#github{
	background-image: url(../img/github.png);
}

#youtube{
	background-image: url(../img/youtube.png);
}
.menuBar{
	align-self: start;
}

.menuButton:hover{
	transform: scaleX(1.5) scaleY(1.5);
	transition: 0.2s;
}
.menuButton:active{
	transform: scaleX(0.6) scaleY(0.6);
	transition: 0.2s;
}
.menuButton{
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}

#languageField{
	background-image: url(../img/united_states_of_america.png);
}

#languageField:active{
	transform: rotate(0.129turn) scaleX(0.6) scaleY(0.6);
}

#leftMenu:hover{
	opacity: 1;
	transition: 0.1s;
}

#contents{
	display: inline-block;
	width: 100%;
}