/**
 * Created : ‎2021‎.11.20. 22:08:53
 * Author : GoldBigDragon (김태룡)
 * Contact : dnwndugod642@naver.com
 * Github : http://goldbigdragon.github.io
 * 
 * Purpose : Black theme style sheet.
 **/
#contents {
	background-color: #191919;
}

div{
	color: #EEE;
}

.hovering{
	background-color: #131313;
}
.hovering:hover{
	background-color: #242424;
}
 