/**
 * Created : ‎2021‎.11.20. 22:08:53
 * Author : GoldBigDragon (김태룡)
 * Contact : dnwndugod642@naver.com
 * Github : http://goldbigdragon.github.io
 * 
 * Purpose : Black theme style sheet.
 **/
#contents, body {
	padding: 0;
	margin: 0;
	background-color: #36393F;
}

div{
	color: #EEE;
}

#leftMenu{
	background-color: #202225;
}

.categoryTitle{
	border-bottom: 3px solid #292B30;
	box-shadow: 0px 0px 4px black;
}

.infoArea{
	border: 3px solid #646464;
}
::-webkit-scrollbar-thumb {
	background-color: #202225;
	border-radius: 15px;
}

::-webkit-scrollbar {
	width: 15px;
	height: 15px;
	background-color: #2E3338;
	border-radius: 15px;
}

.blackBackground{
	background-color: #2E3338;
}

.lightBackground{
	background-color: #36393F;
}

.dimColor{
	color: #666;
}
